## Pandas

Das Standardmäßige Datenanalyse Werkzeug

Daten verarbeiten die in tabellarischer Form vorzufinden sind

z.B. JSON, XML, CSV, SQL, ...

In [1]:
import numpy as np
import pandas as pd

### Serie

Eine Serie ist eine Liste von Werten

Kann zusätzlich zum Numpy Array auch noch beschriftet werden

In [2]:
einwohnerM = pd.Series([9, 83.7, 8.6, 0.38])

Unbeschriftete Daten können schwierig interpretiert werden -> beschriften

In [3]:
einwohnerM

0     9.00
1    83.70
2     8.60
3     0.38
dtype: float64

In [4]:
einwohnerM[0]

9.0

In [5]:
einwohnerM.index = ["AT", "DE", "CH", "LI"]

In [6]:
einwohnerM

AT     9.00
DE    83.70
CH     8.60
LI     0.38
dtype: float64

Jede Serie hat immer ein Numpy Array als Basis

In [7]:
einwohnerM.values

array([ 9.  , 83.7 ,  8.6 ,  0.38])

In [8]:
type(einwohnerM.values)

numpy.ndarray

### Vektorisierung mit Serien

In [9]:
einwohnerM[einwohnerM > 5]

AT     9.0
DE    83.7
CH     8.6
dtype: float64

In [10]:
einwohnerM[einwohnerM > einwohnerM.mean()]

DE    83.7
dtype: float64

In [11]:
einwohnerM.mean()

25.419999999999998

### Sortieren mit Serien

In [12]:
einwohnerM.sort_values()

LI     0.38
CH     8.60
AT     9.00
DE    83.70
dtype: float64

In [13]:
einwohnerM.sort_index()

AT     9.00
CH     8.60
DE    83.70
LI     0.38
dtype: float64

In [14]:
einwohnerM.sort_values()["LI":"CH"]

LI    0.38
CH    8.60
dtype: float64

In [15]:
einwohnerM.sort_values()["LI":"AT"]

LI    0.38
CH    8.60
AT    9.00
dtype: float64

#### inplace

In [16]:
einwohnerM

AT     9.00
DE    83.70
CH     8.60
LI     0.38
dtype: float64

In [17]:
einwohnerM.sort_values(inplace=True)

In [18]:
einwohnerM

LI     0.38
CH     8.60
AT     9.00
DE    83.70
dtype: float64

In [19]:
einwohnerM.sort_index(inplace=True)

In [20]:
einwohnerM

AT     9.00
CH     8.60
DE    83.70
LI     0.38
dtype: float64

##### Alternative zu inplace

In [21]:
einwohnerM = einwohnerM.sort_values()

In [22]:
einwohnerM

LI     0.38
CH     8.60
AT     9.00
DE    83.70
dtype: float64

## DataFrame

Effektiv eine Tabelle (2D-Daten)

Es ist sinnvoll, eine Tabelle aus CSV, SQL zu laden

In [23]:
df = pd.DataFrame({ "Spalte1": [1, 2, 3], "Spalte2": [4, 5, 6], "Spalte3": [7, 8, 9] })  # DataFrame aus einem Dictionary erzeugen

In [24]:
df

   Spalte1  Spalte2  Spalte3
0        1        4        7
1        2        5        8
2        3        6        9

In [25]:
df.index = ["Z1", "Z2", "Z3"]

In [26]:
df

    Spalte1  Spalte2  Spalte3
Z1        1        4        7
Z2        2        5        8
Z3        3        6        9

In [27]:
df["Spalte1"]

Z1    1
Z2    2
Z3    3
Name: Spalte1, dtype: int64

In [28]:
type(df["Spalte1"])

pandas.core.series.Series

In [29]:
df.loc["Z1"]

Spalte1    1
Spalte2    4
Spalte3    7
Name: Z1, dtype: int64

In [30]:
type(df.loc["Z1"])

pandas.core.series.Series

Alles was für eine Serie funktioniert, kann auch für ein DataFrame verwendet werden

## read_csv

Hier ist es wichtig, das Trennzeichen + Tausender und Dezimalzeichen anzugeben

index_col: Spalte im Datenset als Index definieren, statt von Pandas einen Index erzeugen zu lassen

In [31]:
data = pd.read_csv("Data/PopulationData.csv", delimiter=";", thousands=",", decimal=".", index_col="#")

In [32]:
data

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
231,Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
232,Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
233,Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
234,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
235,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [33]:
data["NetChange"].mean()

346105.7829787234

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, 1 to 235
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country (or dependency)  235 non-null    object
 1   Population(2020)         235 non-null    int64
 2   YearlyChange             235 non-null    object
 3   NetChange                235 non-null    int64
 4   Density(P/Km²)           235 non-null    int64
 5   Land Area(Km²)           235 non-null    int64
 6   Migrants(net)            201 non-null    float64
 7   Fert.Rate                235 non-null    object
 8   Med.Age                  235 non-null    object
 9   UrbanPop %               235 non-null    object
 10  WorldShare               235 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 22.0+ KB

In [35]:
data.describe()

,Population(2020),NetChange,Density(P/Km²),Land Area(Km²),Migrants(net)
count,2.350000e+02,2.350000e+02,235.000000,2.350000e+02,201.000000
mean,3.317120e+07,3.461058e+05,478.408511,5.535918e+05,-5.442786
std,1.351370e+08,1.128255e+06,2331.282424,1.687796e+06,123292.057588
min,8.010000e+02,-3.838400e+05,0.000000,0.000000e+00,-653249.000000
25%,4.188015e+05,4.240000e+02,37.000000,2.545000e+03,-10047.000000
50%,5.459642e+06,3.917000e+04,95.000000,7.724000e+04,-960.000000
75%,2.057705e+07,2.496600e+05,240.000000,4.038200e+05,9741.000000
max,1.439324e+09,1.358663e+07,26337.000000,1.637687e+07,954806.000000

In [36]:
data.head()

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

In [37]:
data.tail()

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
231,Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
232,Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
233,Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
234,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
235,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [43]:
data.head(10)  # Hier kann auch eine Anzahl angegeben werden

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
6,Brazil,212559417,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
7,Nigeria,206139589,2.58 %,5175990,226,910770,-60000.0,5.4,18,52 %,2.64 %
8,Bangladesh,164689383,1.01 %,1643222,1265,130170,-369501.0,2.1,28,39 %,2.11 %
9,Russia,145934462,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
10,Mexico,128932753,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %

In [46]:
data["NetChange"]  # Spalte angreifen

#
1       5540090
2      13586631
3       1937734
4       2898047
5       4327022
         ...
231           3
232         103
233          11
234          17
235           2
Name: NetChange, Length: 235, dtype: int64

loc: Daten Zeilenweise angreifen

In [50]:
# data["1"]  # Funktioniert nicht, weil [] sich auf Spalten bezieht
data.loc[1]  # loc muss verwendet werden, um Zeilen anzugreifen

Country (or dependency)         China
Population(2020)           1439323776
YearlyChange                   0.39 %
NetChange                     5540090
Density(P/Km²)                    153
Land Area(Km²)                9388211
Migrants(net)               -348399.0
Fert.Rate                         1.7
Med.Age                            38
UrbanPop %                       61 %
WorldShare                    18.47 %
Name: 1, dtype: object

In [51]:
data.loc[5:10]

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
6,Brazil,212559417,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
7,Nigeria,206139589,2.58 %,5175990,226,910770,-60000.0,5.4,18,52 %,2.64 %
8,Bangladesh,164689383,1.01 %,1643222,1265,130170,-369501.0,2.1,28,39 %,2.11 %
9,Russia,145934462,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
10,Mexico,128932753,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %

In [53]:
data[:8]

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
6,Brazil,212559417,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
7,Nigeria,206139589,2.58 %,5175990,226,910770,-60000.0,5.4,18,52 %,2.64 %
8,Bangladesh,164689383,1.01 %,1643222,1265,130170,-369501.0,2.1,28,39 %,2.11 %

Bestimmte Spalten zusätzlich zu einer begrenzten Menge Datensätze auswählen

In [54]:
data.loc[:10, ["Country (or dependency)", "Population(2020)"]]

   Country (or dependency)  Population(2020)
#
1                    China        1439323776
2                    India        1380004385
3            United States         331002651
4                Indonesia         273523615
5                 Pakistan         220892340
6                   Brazil         212559417
7                  Nigeria         206139589
8               Bangladesh         164689383
9                   Russia         145934462
10                  Mexico         128932753

## DataFrame anpassen

Spalten umbennen, entfernen, Index setzen, ...

In [128]:
data = pd.read_csv("Data/PopulationData.csv", delimiter=";", thousands=",", decimal=".")

In [129]:
data

,#,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
0,1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...,...
230,231,Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,232,Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,233,Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,234,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,235,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

### rename

Spalten umbennen

Parameter: dict, AlterName: NeuerName

WICHTIG: columns = angeben

In [130]:
data.rename(columns = {"Country (or dependency)": "Country", "Population(2020)": "Pop", "Density(P/Km²)": "Density", "Land Area(Km²)": "Land Area", "Migrants(net)": "MigrantsNet", "Fert.Rate": "FertRate", "Med.Age": "MedAge", "UrbanPop %": "UrbanPopPct"}, inplace=True)

In [131]:
data

,#,Country,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
0,1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...,...
230,231,Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,232,Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,233,Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,234,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,235,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

### drop

Spalten löschen

In [132]:
data.drop("#", axis=1, inplace=True)  # Einzelne Spalte löschen

In [133]:
data.drop(["Country", "Pop"], axis=1)  # Mehrere Spalten löschen

,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
0,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...
230,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

Beim Zeilen löschen muss auf den Index des DataFrames zugegriffen werden

In [134]:
data.index[100:]

RangeIndex(start=100, stop=235, step=1)

In [135]:
data.drop(data.index[100:])

,Country,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
0,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
95,Belarus,9449323,-0.03 %,-3088,47,202910,8730.0,1.7,40,79 %,0.12 %
96,Austria,9006398,0.57 %,51296,109,82409,65000.0,1.5,43,57 %,0.12 %
97,Papua New Guinea,8947024,1.95 %,170915,20,452860,-800.0,3.6,22,13 %,0.11 %
98,Serbia,8737371,-0.40 %,-34864,100,87460,4000.0,1.5,42,56 %,0.11 %
99,Israel,8655535,1.60 %,136158,400,21640,10000.0,3.0,30,93 %,0.11 %

### Index setzen

Index Spalte anpassen

Hier auf Country setzen

In [136]:
data.set_index("Country", inplace=True)

In [137]:
data

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

## Arbeiten mit den Daten

### Daten abfragen

-> Vektorisierung wie bei einer Serie

Aufgabe: Alle Länder mit Bevölkerung zw. 1M und 10M

In [138]:
(data["Pop"] > 1_000_000) & (data["Pop"] < 10_000_000)  # Werte Binär per und verknüpfen -> In jeder Zeile, in der links und rechts True steht, soll True heraus kommen

Country
China               False
India               False
United States       False
Indonesia           False
Pakistan            False
                    ...
Montserrat          False
Falkland Islands    False
Niue                False
Tokelau             False
Vatican State       False
Name: Pop, Length: 235, dtype: bool

In [139]:
data[(data["Pop"] > 1_000_000) & (data["Pop"] < 10_000_000)]

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
Honduras,9904607,1.63 %,158490,89,111890,-6800.0,2.5,24,57 %,0.13 %
United Arab Emirates,9890402,1.23 %,119873,118,83600,40000.0,1.4,33,86 %,0.13 %
Hungary,9660351,-0.25 %,-24328,107,90530,6000.0,1.5,43,72 %,0.12 %
Tajikistan,9537645,2.32 %,216627,68,139960,-20000.0,3.6,22,27 %,0.12 %
Belarus,9449323,-0.03 %,-3088,47,202910,8730.0,1.7,40,79 %,0.12 %
...,...,...,...,...,...,...,...,...,...,...
Estonia,1326535,0.07 %,887,31,42390,3911.0,1.6,42,68 %,0.02 %
Timor-Leste,1318445,1.96 %,25326,89,14870,-5385.0,4.1,21,33 %,0.02 %
Mauritius,1271768,0.17 %,2100,626,2030,0.0,1.4,37,41 %,0.02 %
Cyprus,1207359,0.73 %,8784,131,9240,5000.0,1.3,37,67 %,0.02 %
Eswatini,1160164,1.05 %,12034,67,17200,-8353.0,3.0,21,30 %,0.01 %

Alle Länder finden, welche überdurchschnittlich viele Einwohner haben

In [140]:
data["Pop"] > data["Pop"].mean()

Country
China                True
India                True
United States        True
Indonesia            True
Pakistan             True
                    ...
Montserrat          False
Falkland Islands    False
Niue                False
Tokelau             False
Vatican State       False
Name: Pop, Length: 235, dtype: bool

In [141]:
data["Pop"].mean()

33171202.680851065

In [142]:
data[data["Pop"] > data["Pop"].mean()]

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
Brazil,212559417,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
Nigeria,206139589,2.58 %,5175990,226,910770,-60000.0,5.4,18,52 %,2.64 %
Bangladesh,164689383,1.01 %,1643222,1265,130170,-369501.0,2.1,28,39 %,2.11 %
Russia,145934462,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
Mexico,128932753,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %
Japan,126476461,-0.30 %,-383840,347,364555,71560.0,1.4,48,92 %,1.62 %
Ethiopia,114963588,2.57 %,2884858,115,1000000,30000.0,4.3,19,21 %,1.47 %
Philippines,109581078,1.35 %,1464463,368,298170,-67152.0,2.6,26,47 %,1.41 %
Egypt,102334404,1.94 %,1946331,103,995450,-38033.0,3.3,25,43 %,1.31 %
Vietnam,97338579,0.91 %,876473,314,310070,-80000.0,2.1,32,38 %,1.25 %
DR Congo,89561403,3.19 %,2770836,40,2267050,23861.0,6.0,17,46 %,1.15 %
Turkey,84339067,1.09 %,909452,110,769630,283922.0,2.1,32,76 %,1.08 %
Iran,83992949,1.30 %,1079043,52,1628550,-55000.0,2.2,32,76 %,1.08 %
Germany,83783942,0.32 %,266897,240,348560,543822.0,1.6,46,76 %,1.07 %
Thailand,69799978,0.25 %,174396,137,510890,19444.0,1.5,40,51 %,0.90 %
United Kingdom,67886011,0.53 %,355839,281,241930,260650.0,1.8,40,83 %,0.87 %
France,65273511,0.22 %,143783,119,547557,36527.0,1.9,42,82 %,0.84 %
Italy,60461826,-0.15 %,-88249,206,294140,148943.0,1.3,47,69 %,0.78 %
Tanzania,59734218,2.98 %,1728755,67,885800,-40076.0,4.9,18,37 %,0.77 %
South Africa,59308690,1.28 %,750420,49,1213090,145405.0,2.4,28,67 %,0.76 %
Myanmar,54409800,0.67 %,364380,83,653290,-163313.0,2.2,29,31 %,0.70 %
Kenya,53771296,2.28 %,1197323,94,569140,-10000.0,3.5,20,28 %,0.69 %
South Korea,51269185,0.09 %,43877,527,97230,11731.0,1.1,44,82 %,0.66 %
Colombia,50882891,1.08 %,543448,46,1109500,204796.0,1.8,31,80 %,0.65 %
Spain,46754778,0.04 %,18002,94,498800,40000.0,1.3,45,80 %,0.60 %
Uganda,45741007,3.32 %,1471413,229,199810,168694.0,5.0,17,26 %,0.59 %
Argentina,45195774,0.93 %,415097,17,2736690,4800.0,2.3,32,93 %,0.58 %
Algeria,43851044,1.85 %,797990,18,2381740,-10000.0,3.1,29,73 %,0.56 %
Sudan,43849260,2.42 %,1036022,25,1765048,-50000.0,4.4,20,35 %,0.56 %
Ukraine,43733762,-0.59 %,-259876,75,579320,10000.0,1.4,41,69 %,0.56 %
Iraq,40222493,2.32 %,912710,93,434320,7834.0,3.7,21,73 %,0.52 %
Afghanistan,38928346,2.33 %,886592,60,652860,-62920.0,4.6,18,25 %,0.50 %
Poland,37846611,-0.11 %,-41157,124,306230,-29395.0,1.4,42,60 %,0.49 %
Canada,37742154,0.89 %,331107,4,9093510,242032.0,1.5,41,81 %,0.48 %
Morocco,36910560,1.20 %,438791,83,446300,-51419.0,2.4,30,64 %,0.47 %
Saudi Arabia,34813871,1.59 %,545343,16,2149690,134979.0,2.3,32,84 %,0.45 %
Uzbekistan,33469203,1.48 %,487487,79,425400,-8863.0,2.4,28,50 %,0.43 %

### Sortieren

sort_values(Spalte)

In [143]:
data.sort_values("Country")

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
Afghanistan,38928346,2.33 %,886592,60,652860,-62920.0,4.6,18,25 %,0.50 %
Albania,2877797,-0.11 %,-3120,105,27400,-14000.0,1.6,36,63 %,0.04 %
Algeria,43851044,1.85 %,797990,18,2381740,-10000.0,3.1,29,73 %,0.56 %
American Samoa,55191,-0.22 %,-121,276,200,NaN,N.A.,N.A.,88 %,0.00 %
Andorra,77265,0.16 %,123,164,470,NaN,N.A.,N.A.,88 %,0.00 %
...,...,...,...,...,...,...,...,...,...,...
Wallis & Futuna,11239,-1.69 %,-193,80,140,NaN,N.A.,N.A.,0 %,0.00 %
Western Sahara,597339,2.55 %,14876,2,266000,5582.0,2.4,28,87 %,0.01 %
Yemen,29825964,2.28 %,664042,56,527970,-30000.0,3.8,20,38 %,0.38 %
Zambia,18383955,2.93 %,522925,25,743390,-8000.0,4.7,18,45 %,0.24 %
Zimbabwe,14862924,1.48 %,217456,38,386850,-116858.0,3.6,19,38 %,0.19 %

In [144]:
data.sort_values("Country", ascending=False)

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
Zimbabwe,14862924,1.48 %,217456,38,386850,-116858.0,3.6,19,38 %,0.19 %
Zambia,18383955,2.93 %,522925,25,743390,-8000.0,4.7,18,45 %,0.24 %
Yemen,29825964,2.28 %,664042,56,527970,-30000.0,3.8,20,38 %,0.38 %
Western Sahara,597339,2.55 %,14876,2,266000,5582.0,2.4,28,87 %,0.01 %
Wallis & Futuna,11239,-1.69 %,-193,80,140,NaN,N.A.,N.A.,0 %,0.00 %
...,...,...,...,...,...,...,...,...,...,...
Andorra,77265,0.16 %,123,164,470,NaN,N.A.,N.A.,88 %,0.00 %
American Samoa,55191,-0.22 %,-121,276,200,NaN,N.A.,N.A.,88 %,0.00 %
Algeria,43851044,1.85 %,797990,18,2381740,-10000.0,3.1,29,73 %,0.56 %
Albania,2877797,-0.11 %,-3120,105,27400,-14000.0,1.6,36,63 %,0.04 %
Afghanistan,38928346,2.33 %,886592,60,652860,-62920.0,4.6,18,25 %,0.50 %

In [145]:
data.sort_index()  # Nach Index sortieren, kann auch mit sort_values durchgeführt werden

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
Afghanistan,38928346,2.33 %,886592,60,652860,-62920.0,4.6,18,25 %,0.50 %
Albania,2877797,-0.11 %,-3120,105,27400,-14000.0,1.6,36,63 %,0.04 %
Algeria,43851044,1.85 %,797990,18,2381740,-10000.0,3.1,29,73 %,0.56 %
American Samoa,55191,-0.22 %,-121,276,200,NaN,N.A.,N.A.,88 %,0.00 %
Andorra,77265,0.16 %,123,164,470,NaN,N.A.,N.A.,88 %,0.00 %
...,...,...,...,...,...,...,...,...,...,...
Wallis & Futuna,11239,-1.69 %,-193,80,140,NaN,N.A.,N.A.,0 %,0.00 %
Western Sahara,597339,2.55 %,14876,2,266000,5582.0,2.4,28,87 %,0.01 %
Yemen,29825964,2.28 %,664042,56,527970,-30000.0,3.8,20,38 %,0.38 %
Zambia,18383955,2.93 %,522925,25,743390,-8000.0,4.7,18,45 %,0.24 %
Zimbabwe,14862924,1.48 %,217456,38,386850,-116858.0,3.6,19,38 %,0.19 %

### Daten anpassen

In [126]:
data["WorldShare"] = 0

In [146]:
data

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

### Neue Spalte hinzufügen

In [150]:
data["Pop/Area"] = round(data["Pop"] / data["Land Area"], 2)

In [151]:
data

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare,Pop/Area
Country,,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %,153.31
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %,464.15
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %,36.19
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %,150.99
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %,286.55
...,...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %,49.92
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %,0.29
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %,6.25
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %,135.70
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %,inf

In [160]:
data["WorldPct"] = round(data["Pop"] / data["Pop"].sum() * 100, 5)

In [161]:
data

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare,Pop/Area,WorldPct
Country,,,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %,153.31,18.46415
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %,464.15,17.70318
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %,36.19,4.24622
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %,150.99,3.50886
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %,286.55,2.83369
...,...,...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %,49.92,0.00006
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %,0.29,0.00004
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %,6.25,0.00002
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %,135.70,0.00002
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %,inf,0.00001

### Daten zählen

In [165]:
data[data["WorldPct"] > 1]

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare,Pop/Area,WorldPct
Country,,,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %,153.31,18.46415
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %,464.15,17.70318
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %,36.19,4.24622
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %,150.99,3.50886
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %,286.55,2.83369
Brazil,212559417,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %,25.43,2.72679
Nigeria,206139589,2.58 %,5175990,226,910770,-60000.0,5.4,18,52 %,2.64 %,226.34,2.64443
Bangladesh,164689383,1.01 %,1643222,1265,130170,-369501.0,2.1,28,39 %,2.11 %,1265.19,2.11269
Russia,145934462,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %,8.91,1.87210
Mexico,128932753,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %,66.33,1.65399
Japan,126476461,-0.30 %,-383840,347,364555,71560.0,1.4,48,92 %,1.62 %,346.93,1.62248
Ethiopia,114963588,2.57 %,2884858,115,1000000,30000.0,4.3,19,21 %,1.47 %,114.96,1.47479
Philippines,109581078,1.35 %,1464463,368,298170,-67152.0,2.6,26,47 %,1.41 %,367.51,1.40574
Egypt,102334404,1.94 %,1946331,103,995450,-38033.0,3.3,25,43 %,1.31 %,102.80,1.31278
Vietnam,97338579,0.91 %,876473,314,310070,-80000.0,2.1,32,38 %,1.25 %,313.92,1.24869
DR Congo,89561403,3.19 %,2770836,40,2267050,23861.0,6.0,17,46 %,1.15 %,39.51,1.14893
Turkey,84339067,1.09 %,909452,110,769630,283922.0,2.1,32,76 %,1.08 %,109.58,1.08193
Iran,83992949,1.30 %,1079043,52,1628550,-55000.0,2.2,32,76 %,1.08 %,51.58,1.07749
Germany,83783942,0.32 %,266897,240,348560,543822.0,1.6,46,76 %,1.07 %,240.37,1.07481

In [166]:
len(data[data["WorldPct"] > 1])

19

### Einzigartige Werte zählen

In [168]:
data["MedAge"].unique()

array(['38', '28', '30', '23', '33', '18', '40', '29', '48', '19', '26',
       '25', '32', '17', '46', '42', '47', '20', '44', '31', '45', '41',
       '21', '22', '35', '15', '34', '16', '43', '24', '27', '37', '36',
       '39', 'N.A.'], dtype=object)

In [169]:
len(data["MedAge"].unique())

35

In [171]:
pd.Series(data["MedAge"].unique()).sort_values()

25      15
27      16
13      17
5       18
9       19
17      20
22      21
23      22
3       23
29      24
11      25
10      26
30      27
1       28
7       29
2       30
19      31
12      32
4       33
26      34
24      35
32      36
31      37
0       38
33      39
6       40
21      41
15      42
28      43
18      44
20      45
14      46
16      47
8       48
34    N.A.
dtype: object

In [174]:
data["MedAge"].value_counts()  # Statt .unique()

MedAge
N.A.    34
19      14
28      12
43      11
32      11
42      10
18      10
20       9
30       8
38       7
26       7
40       7
22       7
24       6
17       6
34       6
31       6
45       5
21       5
29       5
41       5
44       5
33       5
23       4
25       4
27       4
37       4
36       4
35       3
46       3
39       3
47       2
15       1
16       1
48       1
Name: count, dtype: int64

In [175]:
len(data["MedAge"].value_counts())

35

### Gruppierung

Anhand eines Kriteriums Gruppen bilden, und jeden Datensatz in seine entsprechende Gruppe einfügen

z.B. groupby("MedAge") -> 15er Gruppe, 16er Gruppe, 17er Gruppe, ...

In [179]:
data.groupby("MedAge").get_group("17")

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare,Pop/Area,WorldPct
Country,,,,,,,,,,,,
DR Congo,89561403,3.19 %,2770836,40,2267050,23861.0,6.0,17,46 %,1.15 %,39.51,1.14893
Uganda,45741007,3.32 %,1471413,229,199810,168694.0,5.0,17,26 %,0.59 %,228.92,0.58678
Angola,32866272,3.27 %,1040977,26,1246700,6413.0,5.6,17,67 %,0.42 %,26.36,0.42162
Chad,16425864,3.00 %,478988,13,1259200,2000.0,5.8,17,23 %,0.21 %,13.04,0.21072
Somalia,15893222,2.92 %,450317,25,627340,-40000.0,6.1,17,47 %,0.20 %,25.33,0.20388
Burundi,11890784,3.12 %,360204,463,25680,2001.0,5.5,17,14 %,0.15 %,463.04,0.15254

In [180]:
data.groupby("MedAge").get_group("17")["Pop"].mean()

35396425.333333336

In [182]:
data.groupby("MedAge")["Pop"].mean()  # Bevölkerungsdurchschnitt pro Altersgruppe

MedAge
15      2.420664e+07
16      2.025083e+07
17      3.539643e+07
18      4.148540e+07
19      1.824118e+07
20      1.939652e+07
21      9.621932e+06
22      7.686515e+06
23      6.028827e+07
24      7.213284e+06
25      3.304188e+07
26      2.510786e+07
27      2.088666e+06
28      1.398790e+08
29      4.693030e+07
30      4.894655e+07
31      1.847800e+07
32      3.284957e+07
33      4.789470e+07
34      3.726593e+06
35      1.595275e+07
36      2.161582e+06
37      1.772735e+06
38      2.590871e+08
39      1.120258e+06
40      4.277205e+07
41      1.942832e+07
42      1.717237e+07
43      7.631299e+06
44      1.210433e+07
45      1.320029e+07
46      3.480124e+07
47      3.041855e+07
48      1.264765e+08
N.A.    3.333179e+04
Name: Pop, dtype: float64

In [185]:
medPop = data.groupby("MedAge")["Pop"].mean()

In [203]:
data

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare,Pop/Area,WorldPct
Country,,,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %,153.31,18.46415
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %,464.15,17.70318
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %,36.19,4.24622
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %,150.99,3.50886
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %,286.55,2.83369
...,...,...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %,49.92,0.00006
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %,0.29,0.00004
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %,6.25,0.00002
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %,135.70,0.00002
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %,inf,0.00001

In [204]:
data.to_csv("Data/PopulationData2.csv")