## Fehlerbehebung mit Pandas

Oft haben Daten Fehler (z.B. leere Felder, NaN, null, Prozentzeichen, Einheiten, ...)

In [2]:
import numpy as np
import pandas as pd

In [37]:
data = pd.read_csv("Data/PopulationData2.csv", decimal=".", index_col="Country").drop(columns = {"Pop/Area", "WorldPct"})

In [7]:
data

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

### Fehler erkennen

isnull, notnull mit einem DataFrame um Fehlerhafte Spalten zu erkennen

In [8]:
pd.isnull(data)

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,False,False,False,False,False,False,False,False,False,False
India,False,False,False,False,False,False,False,False,False,False
United States,False,False,False,False,False,False,False,False,False,False
Indonesia,False,False,False,False,False,False,False,False,False,False
Pakistan,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
Montserrat,False,False,False,False,False,True,False,False,False,False
Falkland Islands,False,False,False,False,False,True,False,False,False,False
Niue,False,False,False,False,False,True,False,False,False,False
Tokelau,False,False,False,False,False,True,False,False,False,False
Vatican State,False,False,False,False,False,True,False,False,False,False

In [9]:
pd.notnull(data)

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,True,True,True,True,True,True,True,True,True,True
India,True,True,True,True,True,True,True,True,True,True
United States,True,True,True,True,True,True,True,True,True,True
Indonesia,True,True,True,True,True,True,True,True,True,True
Pakistan,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
Montserrat,True,True,True,True,True,False,True,True,True,True
Falkland Islands,True,True,True,True,True,False,True,True,True,True
Niue,True,True,True,True,True,False,True,True,True,True
Tokelau,True,True,True,True,True,False,True,True,True,True
Vatican State,True,True,True,True,True,False,True,True,True,True

In [20]:
data[data["MigrantsNet"].isnull()]

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
Isle of Man,85033,0.53 %,449,149,570,NaN,N.A.,N.A.,53 %,0.00 %
Andorra,77265,0.16 %,123,164,470,NaN,N.A.,N.A.,88 %,0.00 %
Dominica,71986,0.25 %,178,96,750,NaN,N.A.,N.A.,74 %,0.00 %
Cayman Islands,65722,1.19 %,774,274,240,NaN,N.A.,N.A.,97 %,0.00 %
Bermuda,62278,-0.36 %,-228,1246,50,NaN,N.A.,N.A.,97 %,0.00 %
Marshall Islands,59190,0.68 %,399,329,180,NaN,N.A.,N.A.,70 %,0.00 %
Northern Mariana Islands,57559,0.60 %,343,125,460,NaN,N.A.,N.A.,88 %,0.00 %
Greenland,56770,0.17 %,98,0,410450,NaN,N.A.,N.A.,87 %,0.00 %
American Samoa,55191,-0.22 %,-121,276,200,NaN,N.A.,N.A.,88 %,0.00 %
Saint Kitts & Nevis,53199,0.71 %,376,205,260,NaN,N.A.,N.A.,33 %,0.00 %
Faeroe Islands,48863,0.38 %,185,35,1396,NaN,N.A.,N.A.,43 %,0.00 %
Sint Maarten,42876,1.15 %,488,1261,34,NaN,N.A.,N.A.,96 %,0.00 %
Monaco,39242,0.71 %,278,26337,1,NaN,N.A.,N.A.,N.A.,0.00 %
Turks and Caicos,38717,1.38 %,526,41,950,NaN,N.A.,N.A.,89 %,0.00 %
Saint Martin,38666,1.75 %,664,730,53,NaN,N.A.,N.A.,0 %,0.00 %
Liechtenstein,38128,0.29 %,109,238,160,NaN,N.A.,N.A.,15 %,0.00 %
San Marino,33931,0.21 %,71,566,60,NaN,N.A.,N.A.,97 %,0.00 %
Gibraltar,33691,-0.03 %,-10,3369,10,NaN,N.A.,N.A.,N.A.,0.00 %
British Virgin Islands,30231,0.67 %,201,202,150,NaN,N.A.,N.A.,52 %,0.00 %
Caribbean Netherlands,26223,0.94 %,244,80,328,NaN,N.A.,N.A.,75 %,0.00 %
Palau,18094,0.48 %,86,39,460,NaN,N.A.,N.A.,N.A.,0.00 %
Cook Islands,17564,0.09 %,16,73,240,NaN,N.A.,N.A.,75 %,0.00 %
Anguilla,15003,0.90 %,134,167,90,NaN,N.A.,N.A.,N.A.,0.00 %
Tuvalu,11792,1.25 %,146,393,30,NaN,N.A.,N.A.,62 %,0.00 %
Wallis & Futuna,11239,-1.69 %,-193,80,140,NaN,N.A.,N.A.,0 %,0.00 %
Nauru,10824,0.63 %,68,541,20,NaN,N.A.,N.A.,N.A.,0.00 %
Saint Barthelemy,9877,0.30 %,30,470,21,NaN,N.A.,N.A.,0 %,0.00 %
Saint Helena,6077,0.30 %,18,16,390,NaN,N.A.,N.A.,27 %,0.00 %
Saint Pierre & Miquelon,5794,-0.48 %,-28,25,230,NaN,N.A.,N.A.,100 %,0.00 %
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [22]:
data.dropna()

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Aruba,106766,0.43 %,452,593,180,201.0,1.9,41,44 %,0.00 %
Tonga,105695,1.15 %,1201,147,720,-800.0,3.6,22,24 %,0.00 %
U.S. Virgin Islands,104425,-0.15 %,-153,298,350,-451.0,2.0,43,96 %,0.00 %
Seychelles,98347,0.62 %,608,214,460,-200.0,2.5,34,56 %,0.00 %
Antigua and Barbuda,97929,0.84 %,811,223,440,0.0,2.0,34,26 %,0.00 %

### fillna

FÃ¼llt Fehlende Werte anhand von vorherigen/nachfolgenden Werten auf

In [42]:
data.fillna(method="ffill")  # forwards fill (FÃ¼llt fehlende Werte vom ersten passenden Datensatz auf)
# data.fillna(method="bfill")  # backwards fill

C:\Users\lk3\AppData\Local\Temp\ipykernel_8984\2088445947.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method="ffill")  # forwards fill (FÃ¼llt fehlende Werte vom ersten passenden Datensatz auf)

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

ffill und bfill statt fillna

In [44]:
data.ffill(inplace=True)

In [28]:
data.bfill()

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

Fehler in der Spalte beheben anhand von Durchschnitten

In [29]:
avg = data["MigrantsNet"].mean()

In [30]:
avg

-5.442786069651741

In [33]:
data[data["MigrantsNet"].isnull()]["MigrantsNet"] = avg  # Wird nur "lokal" angewandt

C:\Users\lk3\AppData\Local\Temp\ipykernel_8984\1255717378.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[data["MigrantsNet"].isnull()]["MigrantsNet"] = avg  # Wird nur "lokal" angewandt

Mit loc kÃ¶nnen auch Zeilen + eine Spalte ausgewÃ¤hlt werden

-> FÃ¼r Fehlerbehandlung verwenden

In [35]:
data.loc[data["MigrantsNet"].isnull(), "MigrantsNet"] = avg

In [45]:
data

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

Drei weitere Probleme: N.A., Prozentzeichen, Datentypen (im Anschluss)
1. Suche nach N.A.
2. % entfernen in jeder Spalte
3. Datentypen anpassen

#### 1. Suche nach N.A.

In [52]:
(data["Pop"] == "N.A.").value_counts()  # FÃ¼r alle Spalten

Pop
False    235
Name: count, dtype: int64

In [57]:
print("-----------")
for col in data.columns:
    print((data[col] == "N.A.").value_counts())
    print("-----------")

-----------
Pop
False    235
Name: count, dtype: int64
-----------
YearlyChange
False    235
Name: count, dtype: int64
-----------
NetChange
False    235
Name: count, dtype: int64
-----------
Density
False    235
Name: count, dtype: int64
-----------
Land Area
False    235
Name: count, dtype: int64
-----------
MigrantsNet
False    235
Name: count, dtype: int64
-----------
FertRate
False    201
True      34
Name: count, dtype: int64
-----------
MedAge
False    201
True      34
Name: count, dtype: int64
-----------
UrbanPopPct
False    222
True      13
Name: count, dtype: int64
-----------
WorldShare
False    235
Name: count, dtype: int64
-----------

In [60]:
for col in data.columns:
    print(f"{col}: " + str(len(data[col].groupby(data[col] == "N.A.")) > 1))

Pop: False
YearlyChange: False
NetChange: False
Density: False
Land Area: False
MigrantsNet: False
FertRate: True
MedAge: True
UrbanPopPct: True
WorldShare: False

In [61]:
data.loc[data["FertRate"] == "N.A.", "FertRate"] = 0

In [62]:
data

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,0,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,0,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,0,N.A.,N.A.,0.00 %

In [63]:
def fixNA(columnName: str, newValue):
    data.loc[data[columnName] == "N.A.", columnName] = newValue

In [64]:
fixNA("MedAge", 0)

In [65]:
data

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,0,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,0,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,0,0,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,0,0,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,0,0,N.A.,0.00 %

In [66]:
fixNA("UrbanPopPct", 0)

In [67]:
data

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,0,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,0,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,0,0,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,0,0,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,0,0,0,0.00 %

#### 2. % entfernen

In [69]:
data["Pop"].replace(" %", "", inplace=True)

C:\Users\lk3\AppData\Local\Temp\ipykernel_8984\2531380585.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Pop"].replace(" %", "", inplace=True)

In [75]:
data["Pop"] = data["Pop"].replace(" %", "", regex=True)  # Hier muss regex=True angegeben werden (kein Grund)

In [79]:
def fixPct(columnName: str):
    data[columnName] = data[columnName].replace(" %", "", regex=True)   # Hier muss regex=True angegeben werden (kein Grund)

In [80]:
for col in data.columns:
    fixPct(col)

In [81]:
data

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38,61,18.47
India,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28,35,17.70
United States,331002651,0.59,1937734,36,9147420,954806.0,1.8,38,83,4.25
Indonesia,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30,56,3.51
Pakistan,220892340,2.00,4327022,287,770880,-233379.0,3.6,23,35,2.83
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0.0,0,0,10,0.00
Falkland Islands,3480,3.05,103,0,12170,0.0,0,0,66,0.00
Niue,1626,0.68,11,6,260,0.0,0,0,46,0.00
Tokelau,1357,1.27,17,136,10,0.0,0,0,0,0.00
Vatican State,801,0.25,2,2003,0,0.0,0,0,0,0.00

#### 3. Datentypen anpassen

Alle Spalten die vorher Fehler hatten, sind momentan noch strings

In [85]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    int64
 1   YearlyChange  235 non-null    object
 2   NetChange     235 non-null    int64
 3   Density       235 non-null    int64
 4   Land Area     235 non-null    int64
 5   MigrantsNet   235 non-null    float64
 6   FertRate      235 non-null    object
 7   MedAge        235 non-null    object
 8   UrbanPopPct   235 non-null    object
 9   WorldShare    235 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 28.3+ KB

In [89]:
data = data.convert_dtypes()  # Automatische Konvertierung (funktioniert nicht immer)

In [90]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    Int64
 1   YearlyChange  235 non-null    string
 2   NetChange     235 non-null    Int64
 3   Density       235 non-null    Int64
 4   Land Area     235 non-null    Int64
 5   MigrantsNet   235 non-null    Int64
 6   FertRate      235 non-null    object
 7   MedAge        235 non-null    object
 8   UrbanPopPct   235 non-null    object
 9   WorldShare    235 non-null    string
dtypes: Int64(5), object(3), string(2)
memory usage: 29.4+ KB

In [88]:
data

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399,1.7,38,61,18.47
India,1380004385,0.99,13586631,464,2973190,-532687,2.2,28,35,17.70
United States,331002651,0.59,1937734,36,9147420,954806,1.8,38,83,4.25
Indonesia,273523615,1.07,2898047,151,1811570,-98955,2.3,30,56,3.51
Pakistan,220892340,2.00,4327022,287,770880,-233379,3.6,23,35,2.83
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0,0,0,10,0.00
Falkland Islands,3480,3.05,103,0,12170,0,0,0,66,0.00
Niue,1626,0.68,11,6,260,0,0,0,46,0.00
Tokelau,1357,1.27,17,136,10,0,0,0,0,0.00
Vatican State,801,0.25,2,2003,0,0,0,0,0,0.00

##### astype(...)

ErmÃ¶glicht, eine bestimmte Spalte zu konvertieren

In [94]:
data["YearlyChange"] = data["YearlyChange"].astype(float)  # astype auf die Spalte anwenden und dann die originale Spalte Ã¼berschreiben

In [104]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    Int64
 1   YearlyChange  235 non-null    float64
 2   NetChange     235 non-null    Int64
 3   Density       235 non-null    Int64
 4   Land Area     235 non-null    Int64
 5   MigrantsNet   235 non-null    Int64
 6   FertRate      235 non-null    float16
 7   MedAge        235 non-null    int8
 8   UrbanPopPct   235 non-null    int8
 9   WorldShare    235 non-null    float16
dtypes: Int64(5), float16(2), float64(1), int8(2)
memory usage: 23.5+ KB

In [96]:
def fixDataType(columnName: str, newType: type):
    data[columnName] = data[columnName].astype(newType)

In [103]:
fixDataType("FertRate", np.float16)  # Hier kÃ¶nnen auch Numpy Datentypen verwendet werden

In [99]:
fixDataType("MedAge", np.int8)

In [100]:
fixDataType("UrbanPopPct", np.int8)

In [101]:
fixDataType("WorldShare", np.float16)

In [102]:
data

,Pop,YearlyChange,NetChange,Density,Land Area,MigrantsNet,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399,1.700195,38,61,18.468750
India,1380004385,0.99,13586631,464,2973190,-532687,2.199219,28,35,17.703125
United States,331002651,0.59,1937734,36,9147420,954806,1.799805,38,83,4.250000
Indonesia,273523615,1.07,2898047,151,1811570,-98955,2.300781,30,56,3.509766
Pakistan,220892340,2.00,4327022,287,770880,-233379,3.599609,23,35,2.830078
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0,0.000000,0,10,0.000000
Falkland Islands,3480,3.05,103,0,12170,0,0.000000,0,66,0.000000
Niue,1626,0.68,11,6,260,0,0.000000,0,46,0.000000
Tokelau,1357,1.27,17,136,10,0,0.000000,0,0,0.000000
Vatican State,801,0.25,2,2003,0,0,0.000000,0,0,0.000000

In [105]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    Int64
 1   YearlyChange  235 non-null    float64
 2   NetChange     235 non-null    Int64
 3   Density       235 non-null    Int64
 4   Land Area     235 non-null    Int64
 5   MigrantsNet   235 non-null    Int64
 6   FertRate      235 non-null    float16
 7   MedAge        235 non-null    int8
 8   UrbanPopPct   235 non-null    int8
 9   WorldShare    235 non-null    float16
dtypes: Int64(5), float16(2), float64(1), int8(2)
memory usage: 23.5+ KB

In [106]:
fixDataType("Pop", np.int32)

In [107]:
fixDataType("YearlyChange", np.float16)

In [108]:
fixDataType("NetChange", np.int32)

In [109]:
fixDataType("Density", np.int16)

In [110]:
fixDataType("Land Area", np.int32)

In [111]:
fixDataType("MigrantsNet", np.int32)

In [112]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    int32
 1   YearlyChange  235 non-null    float16
 2   NetChange     235 non-null    int32
 3   Density       235 non-null    int16
 4   Land Area     235 non-null    int32
 5   MigrantsNet   235 non-null    int32
 6   FertRate      235 non-null    float16
 7   MedAge        235 non-null    int8
 8   UrbanPopPct   235 non-null    int8
 9   WorldShare    235 non-null    float16
dtypes: float16(3), int16(1), int32(4), int8(2)
memory usage: 15.9+ KB