In [1]:
import numpy as np
import pandas as pd

In [7]:
data = pd.read_csv("Data/BikeStore.csv", thousands=",", decimal=".", parse_dates=True)

In [8]:
data

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64,112,72,184
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207

In [11]:
data.sort_values("Date").head(5)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
60993,2011-01-01,1,January,2011,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",1,344,540,185,344,529
58729,2011-01-01,1,January,2011,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439
58913,2011-01-01,1,January,2011,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419
63711,2011-01-01,1,January,2011,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",3,713,1120,482,2139,2621
49787,2011-01-01,1,January,2011,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1,1252,2295,561,1252,1813

In [12]:
data.sort_values("Customer_Age").head(5)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
95149,2016-06-16,16,June,2016,17,Youth (<25),M,United States,Oregon,Accessories,Tires and Tubes,Patch Kit/8 Patches,13,1,2,9,13,22
93506,2013-10-22,22,October,2013,17,Youth (<25),M,United Kingdom,England,Accessories,Tires and Tubes,ML Mountain Tire,30,11,30,534,330,864
93507,2013-10-22,22,October,2013,17,Youth (<25),M,United Kingdom,England,Accessories,Tires and Tubes,ML Mountain Tire,16,11,30,285,176,461
93508,2015-10-22,22,October,2015,17,Youth (<25),M,United Kingdom,England,Accessories,Tires and Tubes,ML Mountain Tire,32,11,30,570,352,922
93509,2015-10-22,22,October,2015,17,Youth (<25),M,United Kingdom,England,Accessories,Tires and Tubes,ML Mountain Tire,18,11,30,320,198,518

In [16]:
m = (len(data[data["Customer_Gender"] == "M"]))
f = (len(data[data["Customer_Gender"] == "F"]))

In [19]:
f / len(data) * 100

48.412895006900456

In [20]:
m / len(data) * 100

51.587104993099544

In [25]:
data["Customer_Gender"].value_counts()

Customer_Gender
M    58312
F    54724
Name: count, dtype: int64

In [22]:
data["Product_Category"] == "Accessories"

0          True
1          True
2          True
3          True
4          True
          ...
113031    False
113032    False
113033    False
113034    False
113035    False
Name: Product_Category, Length: 113036, dtype: bool

In [24]:
data[data["Product_Category"] == "Accessories"]["Order_Quantity"].mean()

15.033685111237878

In [27]:
data[data["Customer_Age"] == 20]["Product_Category"].value_counts()

Product_Category
Accessories    1414
Bikes           322
Clothing        284
Name: count, dtype: int64

In [32]:
data[(data["Country"] == "France") | (data["Country"] == "Canada")]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
14,2013-08-02,2,August,2013,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,5,45,120,369,225,594
15,2015-08-02,2,August,2015,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,7,45,120,517,315,832
16,2013-09-02,2,September,2013,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,2,45,120,148,90,238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112979,2015-09-08,8,September,2015,31,Young Adults (25-34),M,France,Essonne,Clothing,Vests,"Classic Vest, M",28,24,64,1048,672,1720
113000,2014-07-27,27,July,2014,34,Young Adults (25-34),M,France,Essonne,Clothing,Vests,"Classic Vest, M",6,24,64,225,144,369
113001,2016-07-27,27,July,2016,34,Young Adults (25-34),M,France,Essonne,Clothing,Vests,"Classic Vest, M",7,24,64,262,168,430
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207

In [33]:
data["Age_Group"].value_counts()

Age_Group
Adults (35-64)          55824
Young Adults (25-34)    38654
Youth (<25)             17828
Seniors (64+)             730
Name: count, dtype: int64

In [38]:
data.groupby("Product")["Profit"].mean().sort_values(ascending=False)

Product
Road-150 Red, 62           1516.774390
Road-150 Red, 52           1483.464789
Road-150 Red, 56           1446.296562
Mountain-100 Silver, 38    1429.800000
Road-150 Red, 44           1421.255981
                              ...
Touring Tire Tube            38.877364
Mountain Tire Tube           38.784478
Water Bottle - 30 oz.        38.710673
AWC Logo Cap                 17.899954
Patch Kit/8 Patches          12.123656
Name: Profit, Length: 130, dtype: float64

In [42]:
data.groupby(data["Country"] + ", " + data["State"])["Profit"].mean().sort_values(ascending=False)

United States, Arizona           1069.750000
United States, Massachusetts      776.000000
United States, Wyoming            695.625000
Canada, Alberta                   416.964286
Germany, Bayern                   404.411641
France, Essonne                   396.225352
Germany, Brandenburg              360.363636
France, Garonne (Haute)           350.706731
United States, California         346.230245
Germany, Hessen                   341.192114
France, Hauts de Seine            335.919742
Germany, Hamburg                  335.783769
United States, Florida            335.714286
United Kingdom, England           324.071439
France, Charente-Maritime         310.810811
France, Loiret                    310.185864
Australia, Queensland             310.183525
United States, Illinois           307.357143
Australia, New South Wales        300.968498
France, Seine et Marne            289.885787
France, Nord                      278.769461
France, Loir et Cher              273.008333
Australia, South Australia        271.636189
Canada, British Columbia          261.642675
Germany, Nordrhein-Westfalen      260.771739
France, Moselle                   258.227979
United States, Georgia            243.375000
France, Somme                     240.291045
United States, Oregon             238.018918
Australia, Victoria               237.371343
Australia, Tasmania               235.252762
Germany, Saarland                 228.987004
United States, Kentucky           221.600000
France, Seine (Paris)             219.573454
France, Seine Saint Denis         211.239311
France, Pas de Calais             207.911111
United States, Ohio               193.107143
United States, Montana            191.333333
France, Val d'Oise                188.431818
France, Yveline                   186.885744
United States, Washington         177.339311
France, Val de Marne              169.759494
United States, Missouri           167.666667
United States, Utah               159.500000
United States, Virginia           154.250000
United States, New York           125.100000
Canada, Ontario                    99.666667
United States, Texas               84.066667
United States, Mississippi         80.500000
United States, North Carolina      54.750000
United States, South Carolina      52.100000
United States, Minnesota           38.000000
United States, Alabama             26.250000
Name: Profit, dtype: float64